# sequencing data
*.fastq
*.fq
*.bam
*.bai
*.fa
*.fasta

# CNV / wig files
*.wig.tmp

# results
results/

# cache
__pycache__/

# installers
Miniconda3-latest-Linux-x86_64.sh

# embedded repos
hmmcopy_utils/

# raw data folder (IMPORTANT)
data/*.fastq
data/*.fq
